extends layout

block content
  h1= title

  -
    var results = [
      { brand: 'Fender', style: 'Stratocaster', price: 1200 },
      { brand: 'Gibson', style: 'Les Paul', price: 2500 },
      { brand: 'Taylor', style: 'Acoustic 814ce', price: 3200 }
    ]

  .container-fluid
    .row
      each item, index in results
        .col-sm-2(onclick=`buy(${index})`, style="cursor:pointer")
          p Brand: #{item.brand}
          p Style: #{item.style}
          p Price: $#{item.price}

  script.
    function buy(index) {
      alert('You purchased item ' + index + '.')
    }    